body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
    font-size: 30px;
		clear:both; /*retira fload da direita e esquerda*/
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform:uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

blockquote {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.comentario-fiat{
	float: left;  /*ocupa a esquerda*/
}

.comentario-petrobras{
	float: right; /*ocupa a direita*/
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
  clear: right; /*retira fload da direita*/
	box-sizing: border-box;
	position: relative;
	top: 355px;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

blockquote, aside, footer {
    padding: 20px;
}

.minha-foto{
	width: 365px;
}

img , aside {
	width: 20%; /*ocupa 20% da pagina*/
	float: right; /*ocupa a direita*/
	border: 10px solid #000;
	box-sizing: border-box;
	position: fixed; /*foto e menu iram flutuar pela tela juntos*/
	right: 0;
}

main{
	width: 80%; /*ocupa 80% da pagina*/
	float: left; /*ocupa a esquerda*/
	padding-bottom: 80px;
}

main a {
	color: #851944;
}

main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	clear:  both; /*retira fload da direita e esquerda*/
}

.rodape{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

nav a {
	color: #F2FFFC;
	 text-transform: lowercase;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

cite {
	font-style: italic;
	float: right;
	clear: both;
}

.leia-mais {
    padding: 8px;
    margin-bottom: 10px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
		clear:both; /*retira fload da direita e esquerda*/
}

.icones-sociais li {
	display: inline-block;
}
.icones-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}
.github {
	background-image: url(../img/github.png);
}
.twitter{
	background-image: url(../img/twitter.png);
}
.linkedin {
	background-image: url(../img/linkedin.png);
}
